<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="HTTPSWatch tracks the HTTPS support of prominent websites.">
    <title>HTTPSWatch</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {{ analytics }}
    <header>
      <nav class="header-nav">
        <ul class="header-nav-list">
        {% for page in meta["listings"] %}
          <li>
          {% if page.shortname is defined and listing is defined and page.shortname == listing.shortname %}
            <span class="header-nav-link-current">{{ page.name }}</span>
          {% else %}
            <a class="header-nav-link" href="{{ page.external if page.external is defined else "/" + page.shortname }}">{{ page.name }}</a>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      </nav>
    </header>
    <div id="content-wrapper">
      {% block body %}{% endblock %}
      <footer>
        Created by <a href="http://www.benjamin-peterson.org">Benjamin Peterson</a>. Last updated <time>{{ update_time }}</time>.
      </footer>
    </div>
  </body>
</html>
